<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" context="width=device-width, initial-scale=1.0">
    <title>Comments</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='comment.css') }}">
    <script src="{{ url_for('static', filename='comment.js') }}" defer></script>
</head>
<body>

    <h2>Leave a Comment</h2>
    <p><strong>Logged in as:</strong> <span id="customerNameDisplay"></span></p>
    <input type="hidden" id="customerName">
    <br>
    <textarea id="commentInput" placeholder="Write a comment..."></textarea>
    <br>
    
    <label>Pick one Cap:</label><br>

    <input type="checkbox" name="option" value="1" id="opt1" onclick="onlyOne(this)">
    <label for="opt1">Black</label><br>

    <input type="checkbox" name="option" value="2" id="opt2" onclick="onlyOne(this)">
    <label for="opt2">Blue</label><br>

    <input type="checkbox" name="option" value="3" id="opt3" onclick="onlyOne(this)">
    <label for="opt3">Green</label><br>
    
    <input type="checkbox" name="option" value="4" id="opt4" onclick="onlyOne(this)">
    <label for="opt4">Purple</label><br>
    
    <input type="checkbox" name="option" value="5" id="opt5" onclick="onlyOne(this)">
    <label for="opt5">Red</label><br>
    
    <input type="checkbox" name="option" value="6" id="opt6" onclick="onlyOne(this)">
    <label for="opt6">White</label><br>

    <label>Rate the item (1 - 5):</label><br>
    <input type="radio" name="rating" value="1" id="rating1"><label for="rating1">1</label><br>
    <input type="radio" name="rating" value="2" id="rating2"><label for="rating2">2</label><br>
    <input type="radio" name="rating" value="3" id="rating3"><label for="rating3">3</label><br>
    <input type="radio" name="rating" value="4" id="rating4"><label for="rating4">4</label><br>
    <input type="radio" name="rating" value="5" id="rating5"><label for="rating5">5</label><br>


    <button onclick="addComment()">Post Comment</button>

    <h3>Comments:</h3>
    <div class="comments-container" id="commentsContainer"></div>

    <form action = "{{url_for('goto_customer')}}" method = "get">
        <button type = "submit">Customer</button>
    </form>
</body>
</html>