<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" context="width=device-width, initial-scale=1.0">
    <title>Customer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='customer.css') }}">
</head>
<body class="">
    <!-- This is the customer container section-->.
    <div class="customer">
        <header>
            <div class="title">NoCap Co</div>
            <div class="icon-cart"><!-- icon taken from flowbite.com/icons-->.
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7H7.312"/>
                </svg>
                <span>0</span>
            </div>
        </header>
    </div>

    <!-- Add this button to customer.html -->
    <a href="{{ url_for('login') }}" class="btn btn-primary" id="login-link">Login</a>

     <!-- Logout Button (visible only if username is in sessionStorage) -->
     <a href="{{ url_for('logout') }}" class="btn btn-danger" id="logout-button" style="display:none;">Logout</a>


    <div id="welcome-message">
        <h2>Welcome, {{ username }}!</h2>
    </div>
    
    
    
    
<!-- This is the product tab section-->
        <div class="listProduct">
        </div>
<!-- This is the shopping cart tab section-->.
<div class="cartTab">
    <h1>Shopping Cart</h1>
        <div class="listCart">
        </div>  
        <div class="totalAmount">
            <h3>Total Items: <span id="total-items">0</span></h3>
        </div>        
        
    <div class="btn">
        <button class="close">CLOSE</button>
        <button class="checkout">CHECKOUT</button>
    </div>
</div>

<!-- this section is for visability for admin or customer-->
 <!-- Form to modify price for an item -->
<div id="modify_price" class="price-modification-form">
    <h3>Modify Price</h3>
    <form id="modify-price-form">
        <label for="item-id-price">Item ID:</label>
        <select id="item-id-price" name="item-id-price">
            
        </select>

        <label for="new-price">New Price:</label>
        <input type="number" id="new-price" name="new-price" required min="0" step="0.01">

        <button type="submit">Update Price</button>
    </form>
</div>

 <!-- Form to modify stock for an item -->
 <div id="modify_stock" class="stock-modification-form">
    <h3>Modify Stock Amount</h3>
    <form id="modify-stock-form">
        <label for="item-id">Item ID:</label>
        <select id="item-id" name="item-id">
          
        </select>

        <label for="new-amount">New Stock Amount:</label>
        <input type="number" id="new-amount" name="new-amount" required min="0">

        <button type="submit">Update Stock</button>
    </form>
</div>

<div id="admin-section">
    <h3>Paths to other modules</h3>
    <form action="http://13.60.187.38:5001/" method="get">
        <button type="submit">Retailer</button>
    </form>

    <form action="http://13.60.187.38:5002/" method="get">
        <button type="submit">Producer</button>
    </form>
</div>

<form action="{{url_for('goto_comment')}}" method="get">
    <button type="submit">Comments</button>
</form>

<script src="{{ url_for('static', filename='customer.js') }}"></script>




<script>
//-------------------------Role------------------------------------
    // Retrieve the role from sessionStorage
    let userRole = sessionStorage.getItem("admin");

    userRole = (userRole === "true");

    // If the user is not an admin, hide the admin section
    if (!userRole) {
        document.getElementById("admin-section").style.display = "none";
        document.getElementById("modify_stock").style.display = "none";
        document.getElementById("modify_price").style.display = "none";
    }
//------------------------Stock-------------------------------------
    


</script>


</body>
</html>