<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" context="width=device-width, initial-scale=1.0">
    <title>Customer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='customer.css') }}">
</head>
<body class="">
    <!-- This is the customer container section-->.
    <div class="customer">
        <header>
            <div class="title">NoCap Co</div>
            <div class="icon-cart"><!-- icon taken from flowbite.com/icons-->.
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7H7.312"/>
                </svg>
                <span>0</span>
            </div>
        </header>
    </div>
    <form id="customer-form">
        <label for="customer-name">Enter your name:</label>
        <input type="text" id="customer-name" placeholder="Your Name" required>
        <button type="submit">Save</button>
    </form>
    
    <p id="welcome-message" style="display: none;"></p>
    
    
    
<!-- This is the product tab section-->
        <div class="listProduct">
        </div>
<!-- This is the shopping cart tab section-->.
<div class="cartTab">
    <h1>Shopping Cart</h1>
        <div class="listCart">
        </div>  
        <div class="totalAmount">
            <h3>Total Items: <span id="total-items">0</span></h3>
        </div>        
        
    <div class="btn">
        <button class="close">CLOSE</button>
        <button class="checkout">CHECKOUT</button>
    </div>
</div>

<script src="{{ url_for('static', filename='customer.js') }}"></script>


    <h3>Paths to other modules</h3>
    <form action = "http://127.0.0.1:5001/" method = "get">
        <button type = "submit">Retailer</button>
    </form>
    
    <form action = "http://127.0.0.1:5002/" method = "get">
        <button type = "submit">Producer</button>
    </form>

    <form action = "{{url_for('goto_comment')}}" method = "get">
        <button type = "submit">Comments</button>
    </form>

<!--When i click on the checkout button i want to get redirected to?-->
    <script>
        const designerUrl = "{{ url_for('goto_retailer') }}";  // Ensure Flask properly fills this
    </script>
    
    <script>
        checkout.addEventListener('click', (event) => {
            let positionClick = event.target;
            if (positionClick.classList.contains('checkout')) {
                window.location.href = designerUrl;
            }
        });
    </script>


</body>
</html>