<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" context="width=device-width, initial-scale=1.0">
    <title>Designer</title>
</head>
<body>
    <h1>Cap Designer</h1>

    <h3>Paths to other modules</h3>
    <form action = "{{url_for('goto_customer')}}" method = "get">
        <button type = "submit">Customer</button>
    </form>
    
    <form action = "{{url_for('goto_producer')}}" method = "get">
        <button type = "submit">Producer</button>
    </form>
    
    <form action = "{{url_for('goto_retailer')}}" method = "get">
        <button type = "submit">Retailer</button>
    </form>
</body>
</html>