<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" context="width=device-width, initial-scale=1.0">
    <title>Producer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='producer.css') }}">
</head>
<body>
    <h1>Cap Producer</h1>

    <table>
        <tr>
            <th>production_id</th>
            <th>item_id</th>
            <th>amount</th>
            <th>color</th>
            <th>model</th>
            <th>order_id</th>
        </tr>
        {% for row in results %}
        <tr>
            {% for item in row %}
            <td>{{ item }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <p>
        {{x}}
    </p>

    <form id = "get-form">
        <button type = "submit">Orders</button>
    </form>

    <form id ="produce-form">
        <button type="submit">produce</button>
    </form>

    <script>
        const form = document.querySelector('#produce-form');
        const button = form.querySelector('button');

        form.addEventListener('submit', function(event) {

            event.preventDefault(); // Prevent the form from actually submitting
            console.log('Form submitted');
    
        });

        button.addEventListener('click', function(event) {

            console.log('Button clicked');
        });
    </script>

  
    <h3>Paths to other modules</h3>
    <form action = "http://127.0.0.1:5000/" method = "get">
        <button type = "submit">Customer</button>
    </form>
    
    <form action = "http://127.0.0.1:5001/" method = "get">
        <button type = "submit">Retailer</button>
    </form>


</body>
</html>