<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" context="width=device-width, initial-scale=1.0">
    <title>Producer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='producer.css') }}">
</head>
<body>
    <h1>Cap Producer</h1>

    <table>
        <tr>
            <th>production_id</th>
            <th>item_id</th>
            <th>amount</th>
            <th>color</th>
            <th>model</th>
            <th>order_id</th>
        </tr>
        {% for row in results %}
        <tr>
            {% for item in row %}
            <td>{{ item }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <p>
        {{x}}
    </p>

    <form action = "{{url_for('get_orders')}}" method = "get">
        <button type = "submit">Orders</button>
    </form>

    <form action = "{{url_for('produce')}}" method = "get">
        <button type = "submit">produce</button>
    </form>

  
    <h3>Paths to other modules</h3>
    <form action = "{{url_for('goto_customer')}}" method = "get">
        <button type = "submit">Customer</button>
    </form>
    
    <form action = "{{url_for('goto_retailer')}}" method = "get">
        <button type = "submit">Retailer</button>
    </form>
    
    <form action = "{{url_for('goto_designer')}}" method = "get">
        <button type = "submit">Designer</button>
    </form>


</body>
</html>