<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" context="width=device-width, initial-scale=1.0">
    <title>Producer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='producer.css') }}">
</head>
<body>
    <h1>Cap Producer</h1>

    <table border="1">
        <tr>
            <th>place_in_orders</th>
            <th>order_id</th>
            <th>item_id</th>
            <th>amount</th>
            <th>customer</th>
        </tr>
        {% for row in results %}
        <tr>
            {% for item in row %}
            <td>{{ item }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <p>
        {% if x %}
            {{x}}
        {% endif %}
    </p>

    <form action = "{{url_for('get_orders')}}" method = "get">
        <button type = "submit">Orders</button>
    </form>

    <table border="1">
        <tr>
            <th>production_id</th>
            <th>item_id</th>
            <th>amount</th>
        </tr>
        {% for row in produce %}
        <tr>
            {% for item in row %}
            <td>{{ item }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <form action = "{{url_for('produce')}}" method = "get">
        <button type = "submit">produce</button>
    </form>

    <form action = "{{url_for('SendToStock')}}" method = "get">
        <button type = "submit">Send to stock</button>
    </form>

  
    <h3>Paths to other modules</h3>
    <form action = "http://13.60.187.38:5000/" method = "get">
        <button type = "submit">Customer</button>
    </form>
    
    <form action = "http://13.60.187.38:5001/" method = "get">
        <button type = "submit">Retailer</button>
    </form>


</body>
</html>