<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" context="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='retailer.css') }}">
    <title>Retailer</title>
</head>

<body>
    <h1>Cap Retailer</h1>
    

  <form action = "{{url_for('show_orders')}}" method = "get">
      <button type = "submit">Orders</button>
  </form>

  <form action = "{{url_for('show_stock')}}" method = "get">
    <button type = "submit">Stock</button>
</form>

  <h3>Paths to other modules</h3>
  <form action = "http://13.60.187.38:5000/" method = "get">
    <button type = "submit">Customer</button>
  </form>

  <form action="http://13.60.187.38:5002/" method="get">
    <button type="submit">Producer</button>
  </form>


  <form action = "http://13.60.187.38:5000/goto_comment" method = "get">
    <button type = "submit">Comments</button>
  </form>

  <p id="message"></p>
  

  
</body>
</html>